@model RebootIT.TimesheetApp.ViewModels.TimeSheets.Index

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="ClientFilteredCreate" asp-items=Id asp-route-clientId="@Model.ClientId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Timesheets.FirstOrDefault().Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timesheets.FirstOrDefault().Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timesheets.FirstOrDefault().Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timesheets.FirstOrDefault().MinutesWorked)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Timesheets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesWorked)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
